#title {
  background: rgb(178, 174, 255);
  background: linear-gradient(
    312deg,
    rgba(178, 174, 255, 1) 0%,
    rgba(0, 140, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#objetivo{
    padding: 3rem 10em;
    font-size: 1.3rem;
}

br{
    margin-top: 30px;
}