#title {
  background: rgb(178, 174, 255);
  background: linear-gradient(
    312deg,
    rgba(178, 174, 255, 1) 0%,
    rgba(0, 140, 255, 1) 100%
  );
  width: 100vw;
  height: 95vh;
  text-align: center;
}

#objetivo {
  padding: 3rem 10em;
  font-size: 1.3rem;
}

br {
  margin-top: 30px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

.whatsapp_button {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.nav-link {
  display: flex;
  align-self: flex-end;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

img {
  border-radius: 5%;
}

.titleMau{
  text-align: left;
}



.modal-header {

    border-bottom: 0px solid #dee2e6;
}